  h1{
	    	text-align: center;
	    }
	    th{
	    	font-size: 24px;
	    }
	    td{
	    	font-size: 20px;
	    }
	    label.error{
			float: none; 
			color: red; 
			padding-left: .5em;
		    vertical-align: middle;
		    font-size: 12px;
		}
		form, label{
			font-size: 14px;
			font-weight: bold;
		}
	    p{
	    	color: #df0024;
	    	font-size: 20px;
	    }
	    textarea{
	    	/*resize: none;*/
	    	font-size: 16px;
	    	width: 250px;
	    }
	    #aviso{
	    	float: left;
	    	margin-left: 29%;
	    	position: fixed;
	    	top: 18%;
	    	display: block;
	    	background: rgba(255,255,255,0.9);
	    	box-shadow: 1px 1px 5px #000;
	    	width: 45%;
	    	height: 40%;
	    	border-radius: 25px;
	    }
	    #cerrar{
	        padding: 35px; 
	    	/* margin: auto; */
	    	text-align: right;
	    	font-weight: bold;
	    	font-size: 38px;
	    }
	    #fondo{
	    	background: #feffff;
	       	/* box-shadow:inset -3px -2px 37px #000000; */
	    }
	    #validate2{
		    margin-left: 17%;
		}
		#mensaje{
	        float: left;
	        margin-left: 480px;
	        position: fixed;
       	}
       	#mensajeError{
       		float: left;
	        margin-left: 680px;
	        position: fixed;
       	}
       	#ver{
       		margin-left: 43%;
       		margin-top: 6%;
       	}
	    .notas{
	    	margin-left: 80px;
	    	position: fixed;
	    	top: 190px;
	    }
        .hero-unit{
        	margin-top: 60px;
        	text-align: center;
        	background-image: url('../img/dinero-3.jpg');
        }